.section-daily-god-whole {
  display: flex;
  padding: 12px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--color-grey-text);
  margin-bottom: 20px;
}

.section-daily-god-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.section-daily-god-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.section-daily-god-more {
  flex: 1 0 0;
  text-decoration: underline;
}

.section-daily-god-learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.section-daily-god-arrow {
  color: var(--color-grey-text);
}
